// 添加背景图片
body
    background-image url('/images/background.jpeg')
    background-repeat no-repeat // 不重复
    background-attachment fixed // 不随页面滚动
    background-position 50% 50% // center居中
    background-size 100% 100% // cover为填充
// 目录背景色
// .header-inner
//     background #bc0100
//     background linear-gradient(0deg, #bc0100 20%, #9b1d22 80%)
